.one{
  text-align: center;
  margin:10% 25% ;
  border: 3px grey solid;
  border-radius: 20px;
  width: 50%;
  background-color:rgb(242, 174, 174);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background:linear-gradient(to bottom right ,pink,white)

}

.mb-1{
  font-size:x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-size-adjust:calc();
  color:blue;
}
h2{
  color: rosybrown;
  padding-bottom: 20px ;
  padding-right: 1200px;
  font-size: larger;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mb-3{
  color: black;
  height: 100px;
  width: 100%;
  font-size:medium;

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}